<h1 class='text-center'>Criar Conta</h1>

<div class="row">
  <div class="col-md-6 offset-2">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name,"Nome:" %>
      <%= f.text_field :name, class: 'mb-1 form-control' %>

      <%= f.label :email,"E-mail:" %>
      <%= f.email_field :email, class: 'mb-1 form-control' %>

      <%= f.label :password,"Senha:" %>
      <%= f.password_field :password, class: 'mb-1 form-control' %>

      <%= f.label :password_digest, "Confirmar senha:" %>
      <%= f.password_field :password_digest, class: 'mb-1 form-control' %>

      <%= f.submit "Criar", class: "mt-2 btn btn-primary" %>
    <% end %>
  </div>
</div>