
<nav class="navbar mb-2">
  <div class="container-fluid">

    <% if logged_in? %>

      <div class="navbar-header">
        <%= current_user.name %>
        <%= link_to "Items", root_path, class: "mx-2" %>
        <%= link_to "Mensagens", messages_path%>  
        
      </div>
        
      <ul class="nav navbar-right ">
          <li>
          <!-- -->
            <%= link_to "Sair", logout_path, class: "mx-2", method: :delete %>
          </li> 
        </ul>

    <% else %>
      <ul class="nav navbar-right ">
        <li><%= link_to "Entrar", login_path, class: "mx-2" %></li> 
        <li><%= link_to "Cadastrar-se", signup_path, class: "mx-2" %></li>
      </ul>
    <% end %>

  </div>
</nav>

